{{#if onButtonNew}}
  <button type="button" class="talent-button-right" {{action 'buttonNew'}}>
    <i class="fa fa-plus"></i>
  </button>
{{/if}}
<div class="form-group">
  <select class="form-control select2-list hide dirty"></select>

  <label>{{label}}</label>

  {{#unless selected}}
    <label style="font-size: 16px !important; top: 19px !important;">{{placeholder}}</label>
  {{else}}
    {{#if showStartValue}}
      <label style="font-size: 16px !important; top: 19px !important;">{{startValue}}</label>
    {{/if}}
  {{/unless}}

  {{#if optional}}
    <a class="clear-select2" {{action 'clearSelect'}}>
      <i aria-hidden="true" class="fa fa-times"></i>
    </a>
  {{/if}}
</div>
